/** BASE STYLE**/
section{
    padding-top: 40px;
    padding-bottom: 40px;
}
a,
a:active,
a:hover,
a:visited
{
    color: white;
}
.bg-info,
.btn-info{
    background-color: #0475ba !important;
}

/** HEADER**/
#header{
    background-image: url(../img/header.jpg);
    background-color: black;
    min-height: 700px;
    color: white;
    padding-top: 160px;
}
#header p{
    font-size: 2em;
}
#header h1{
    text-align: center;
}
form{
    background-color: white;
    color: black;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
button{
    margin: 10px;
}
/** SECTIONS **/
#students text{
    color: white;
    margin-top: 100px;
}
#students img{
    border-radius: 5px;
}
#volunteer text{
    margin-top: 100px;
    font-family: Airbnb-Cereal-Book;

}
#volunteer img{
    border-radius: 5px;
}
/** team **/
#team{
    text-align: center;
}
#team img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-bottom: 15px;
}
#team h6{
    color: #0475ba;
}
/** PIED DE PAGE **/
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
nav,img{
    box-shadow: 10px 5px 5px rgb(0, 87, 128);
}
.footer-list ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}
@font-face {
    font-family: "Airbnb-Cereal-Bold";
    src: url("../fonts/Airbnb_Cereal-Bold.woff2") format("woff2"),
         url("../fonts/Airbnb_Cereal-Bold.woff") format("woff");
  }
body {
    font-family: Airbnb-Cereal-Bold;
}